# ignore maven build folder
target/

# pom-derived eclipse jdt files
.project
.classpath
org.eclipse.*.prefs

# ignore NoteOverview.json to avoid merge conflicts
notes/ui/src/main/resources/noteOverview.json
notes/ui/src/main/resources/testOverview.json


notes/core/checkstyle-results.txt
notes/ui/checkstyle-results.txt

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
