# ignore maven build folder
target/

# pom-derived eclipse jdt files
.project
.classpath
org.eclipse.*.prefs

.DS_Store

# ignore NoteOverview.json to avoid merge conflicts
notes/ui/src/main/resources/noteOverview.json
